$def with (arr)
<html>
    <head>
        <title>Gothons Of Planet Percal #25</title>

    </head>
<body>

<center><img src="./static/testplot.png" alt="Comparison Chart" align="middle" width="500px" height="500px"/></center>

<ul>
$for item in arr:
	$if item[1] == 'positive':
		<em style="color: green; font-size: 1em;"><li>$item[0] | $item[1]</li></em>
	$elif item[1] == 'negative':
		<em style="color: red; font-size: 1em;"><li>$item[0] | $item[1]</li></em>
	$elif item[1] == 'neutral':
		<em style="color: black; font-size: 1em;"><li>$item[0] | $item[1]</li></em>
</ul>


</body>
</html>